@model IEnumerable<MVC5Course.Models.ViewModels.ProductLiteVM>

@{
    ViewBag.Title = "ListProducts";
}

<h2>ListProducts</h2>

@*@if (TempData["CreateProduct_Result"] != null)
{
    < h1 > @TempData["CreateProduct_Result"] </ h1 >
}*@
<form method="get" >
    Keyword
    @Html.TextBox("q");

    存數量:
@Html.TextBox("Stock_S", null, new { size = "10", type = "number" }) ~
@Html.TextBox("Stock_E", null, new { size = "10", type = "number" })

  <button>Go</button>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
        </tr>
    }

</table>